<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fluxmatix.AspNetCore.TagHelpers.QuillEditor.Sample</title>
    @RenderSection("Stylesheets", false)
</head>
    <body>
        <div class="container body-content">
            @RenderBody()
        </div>
        @RenderSection("Scripts", false)
    </body>
</html>
